.container__renderItem {
  width: 100%;
}

.container__renderItem--List {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.container__renderItem--card {
  width: calc(90% / 3);
  text-align: center;
  height: 500px;
}

.container__BodyItem {
}
