.container__renderItem {
  width: 100%;
}

.container__renderItem--List {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.container__renderItem--card {
  width: calc(90% / 3);
  text-align: center;


}

.container__renderItem--header {
  display: flex;
  justify-content: space-between;
  & h1 { 
    border-bottom: 1px solid black;
    color: #f37428;
   
  }
}

.container__BodyItem {
  width: 100%;
  text-align: start;
  background-color: #f6f6f6;

  & img {
    width: 100%;
    height: 300px;
  }

  & p {
    font-size: 20px;
    align-items: center;
    color: #f37428;
  }

  & h3 {
    color: #005500;
  }
}

.container__BodyItem--info {
  padding: 5%;

}