.container__payments {
  width: 100%;
}

.payments {
  width: 80%;
  display: flex;
  margin: auto;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.payments__form {
  margin: 2%;
  width: 50%;
  align-items: center;

  & input {
    margin-top: 2%;
    width: 100%;
    height: 50px;
  }

  & .payments__formFields {
    margin-top: 5%;
    border: 2px dashed black;
    border-radius: 3%;
    padding: 3%;
    align-items: center;
    text-align: center;

    & h2 {
      font-size: 30px;
      font-weight: 700;
    }

    & input {
      text-align: center;
    }
  }

  @media screen and (max-width: 767px) {
    width: 80%;
    margin: auto;
  }
}

.payments__details {
  width: 50%;
  margin: auto;

  & h1 {
    text-align: center;
  }

  & button {
    width: 50%;
    margin: auto;
  }

  @media screen and (max-width: 767px) {
    width: 80%;
    margin: auto;
  }
}

.btn-1 {
  margin-top: 2%;
  width: 100%;
  text-align: center;
}

.btn {
  margin-top: 20px;
}

.payments__btn {
  width: 50%;
  margin: auto;

  & button {
    width: 100%;
    margin-top: 10%;
  }
}

.payments__formFields--account {
  text-align: start;
  padding: 40px;
  background-color: deepskyblue;
  font: inherit;
  font-style: oblique;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid black;
}

.payments__formFields--input {
  display: flex;
  justify-content: space-between;

  & input {
    width: 30%;
    border-radius: 5px;
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.messError {
  margin-top: 50px;
  color: red;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
}
