.container__TourList {
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.TourList {
  margin-top: 20px;
  width: 70%;
  margin: auto;
  padding: 20px;

  @media screen and (max-width:767px) {
    width: 90%;
  }
}


.container__tourItem {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  border: 1px dashed black;
  border-radius: 10px;
  background-color: white;


  & .container__tourItem--img {
    max-width: 40%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  @media screen and (max-width:767px) {
    display: block;


    & .container__tourItem--img {
      max-width: 100%;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    & .container__tourItem-details {
      margin: auto;
      width: 100%;
      padding: 30px;

      & h4 {
        color: #198754;
        font-size: 30px;
      }

      & span {
        color: #ff7f00;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

}





.container__tourItem-details {
  margin: auto;
  width: 50%;
  padding: 30px;

  & h4 {
    color: #198754;
    font-size: 40px;
  }

  & span {
    color: #ff7f00;
    font-size: 20px;
    font-weight: 700;
  }


}