.container__tourItem {
    display: flex;
    justify-content: space-around;
    padding: 2%;

    background-color: #f6f6f6;
    margin-top: 25px;


}

.container__tourItem--img {
    width: 30%;
}

.container__tourItem-details {
    display: flex;
    width: 60%;
    margin: auto;


    & p {
        font-size: 25px;
    }


    & .container__tourItem-details1 {
        width: 60%;

        & h4 {
            color: #388b38;
            font-size: 35px
        }
    }

    & .container__tourItem-details2 {
        width: 40%;
        margin-top: 5%
    }
}