.footer {
    background-color: #CCCCCC;
    width: 100%;

}

.footer__info {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 3%;

}

.footer__info--1 {
    width: 30%;

    & p {
        overflow: auto;
    }
}

.footer__info--2 {
    width: 60%;
}