.container__tourItem {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 25px;
}

.container__tourItem:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container__tourItem--img {
    width: 30%;
}

.container__tourItem-details {
    display: flex;
    width: 60%;
    margin: auto;

    & p {
        font-size: 30px;
    }

    & span {
        color: #00BFFF;
        font-weight: bold;
    }

    & .container__tourItem-details1 {
        width: 60%;

        & h4 {
            color: #4682B4;
            font-size: 50px;
        }
    }

    & .container__tourItem-details2 {
        width: 40%;
        margin-top: 10%
    }
}

.addToCart {
    width: 100%;
    margin: auto;
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;

}

.addToCart:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}