.searchForm {
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 1%;
}

.container__searchForm {
  width: 100%;
  background-image: linear-gradient(to right, #ECECEC, #D7D7D7, #C2C2C2);

}


.container_SearchList {
  width: 100%;
  background-image: linear-gradient(to right, #ECECEC, #D7D7D7, #C2C2C2);
}

.SearchList {
  width: 80%;
  margin: auto;
  padding: 3%;

}