.adminpages {
    width: 100%;

}

.adminpages__btn {
    width: 70%;
    margin: auto;

}

.adminpages__chart {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.chart {
    width: 50%;
}

.chartPercent {
    width: 50%;
}

.managerProduct {
    margin-bottom: 20px;
    width: 70%;
    margin: auto;
    text-align: center;
}

.managerUser {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 70%;
    margin: auto;
    text-align: center;
}